// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 *
 */

#include <dt-bindings/usb/pd.h>
#include "rk3576-evb.dtsi"
#include "rk3576-rk806.dtsi"
#include "usb/rk3576-usb.dtsi"
#include "display/rk3576-display.dtsi"
#include "M.2_external/rk3576_M.2_wifibt.dtsi"
#include "camera/rk3576-cam.dtsi"
#include "rk3576-audio.dtsi"

/ {

	adc_keys_ch1:adc-keys-ch1{
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
		status = "disabled";

		v_up_key:v-up-key{
			label = "volume_up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <45000>;	
		};
	};

	adc_keys_ch5:adc-keys-ch5{
		compatible = "adc-keys";
		io-channels = <&saradc 5>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
		status = "disabled";

		v_down_key:v-down-key{
			label = "volume_down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <45000>;	
		};
	};

	vcc_1v8_s0: vcc-1v8-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8_s3>;
	};

	vcc_3v3_s0: vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_ufs_s0: vcc-ufs-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ufs_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc1v8_ufs_vccq2_s0: vcc1v8-ufs-vccq2-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_ufs_vccq2_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8_s3>;
	};

	vcc1v2_ufs_vccq_s0: vcc1v2-ufs-vccq-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v2_ufs_vccq_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc_sys>;
	};

	/*vcc3v3_lcd_n: vcc3v3-lcd0-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd0_n";
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_3v3_s0>;
	};*/

	vcc3v3_pcie0: vcc3v3-pcie0 {
	compatible = "regulator-fixed";
	regulator-name = "vcc3v3_pcie0";
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;

	regulator-always-on;
	regulator-boot-on;

	startup-delay-us = <5000>;
	vin-supply = <&vcc_sys>;
	};

	vcc3v3_pcie1: vcc3v3-pcie1 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie1";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		// gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v_dcin>;
	};

};

&gmac0 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth0m0_miim
		     &eth0m0_tx_bus2
		     &eth0m0_rx_bus2
		     &eth0m0_rgmii_clk
		     &eth0m0_rgmii_bus
		     &ethm0_clk0_25m_out>;

	tx_delay = <0x20>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru REFCLKO25M_GMAC0_OUT>;
	};
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth1m0_miim
		     &eth1m0_tx_bus2
		     &eth1m0_rx_bus2
		     &eth1m0_rgmii_clk
		     &eth1m0_rgmii_bus
		     &ethm0_clk1_25m_out>;

	tx_delay = <0x20>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
	};
};


&can0 {
	assigned-clocks = <&cru CLK_CAN0>;
	assigned-clock-rates = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&can0m2_pins>;
	status = "okay";
};

&can1 {
	assigned-clocks = <&cru CLK_CAN1>;
	assigned-clock-rates = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&can1m0_pins>;
	status = "disabled";
};

&i2c2 {
	status = "okay";
	rtc: rtc@32 {
			reg = <0x32>;
			compatible = "epson,rx8130";
			interrupt-parent = <&gpio0>;
			interrupts = <RK_PA5 IRQ_TYPE_LEVEL_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&rx8130_gpio>;
	};
};

/*
&mdio0 {
	rgmii_phy0: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC0_OUT>;
	};
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
	};
};
*/
&mipidcphy0 {
	status = "okay";
};

&pinctrl {
	rx8130_gpio {
		rx8130_gpio:rx8130_gpio{
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&combphy0_ps{
	status = "okay";
};

&pcie0 {
	phy-names = "pcie-phy";

	reset-gpios = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	pinctrl-names = "default";
	//pinctrl-0 = <&wifi_poweren_gpio>;
	vpcie3v3-supply = <&vcc3v3_pcie0>;
	status = "okay";
};


&pcie1 {
	reset-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie1>;
	status = "disabled";
};

&pdm1 {
	status = "disabled";
	pinctrl-names = "default", "idle", "clk";
	pinctrl-0 = <&pdm1m1_sdi0
		     &pdm1m1_sdi1
		     &pdm1m1_sdi2
		     &pdm1m1_sdi3>;
	pinctrl-1 = <&pdm1m1_clk0_idle
		     &pdm1m1_clk1_idle>;
	pinctrl-2 = <&pdm1m1_clk0
		     &pdm1m1_clk1>;
};

&sdmmc {
	status = "okay";
};

&spdif_tx3 {
	status = "okay";
};

&ufs {
	vcc-supply = <&vcc_ufs_s0>;
	vccq-supply = <&vcc1v2_ufs_vccq_s0>;
	vccq2-supply = <&vcc1v8_ufs_vccq2_s0>;
	status = "okay";
};

&vp0 {
	status = "disabled";
};

&vp1 {
	status = "okay";
};
